
<div>

	<div ng-repeat="item in dashcards">
	
	<div class="row">
        <div class="col s12 m7">
          <div class="card large">
            <div class="card-image">
              <img src="{{item.imgSrc}}">
              <span class="card-title">{{item.title}}</span>
            </div>
            <div class="card-content">
              <p>{{item.desc}}</p>
            </div>
            <div class="card-action">
            <div class="row">
            	 <div class="col s12 m2">
            		<a class="waves-effect waves-teal btn-flat like"><i class="small material-icons">thumb_up</i></a>{{item.likes}}            	
            	 </div>
            	 <div class="col s12 m1">
            	 <a class="btn-floating btn-small waves-effect waves-light red"><i class="small material-icons">more_horiz</i></a>
            	</div>
            </div>
          </div>
        </div>
      </div>

	</div>

       
</div>