

  <div class="btnStarted">
        <a class="waves-effect waves-light btn red modal-trigger" href="#mdGettingStarted"><i class="material-icons left">play_circle_outline</i>Getting Started</a>
  </div>
  <div class="overlay">
      <div>
        <h2>D'Quor</h2>
      </div>
      <div>
        <p>One stop place to design and renovate your home!</p>
      </div>
  </div>
  <div id="carousel">
      <div id="owl-landing">
        <div>
          <img src="img/first.jpg" alt="">      
        </div>
        <div>
          <img src="img/second.jpg" alt=""> 
        </div>
        <div>
          <img src="img/third.jpg" alt="">     
        </div>
      </div>
  </div>

  <div id="first-block">
    <div class="block-item">
      <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">business</i></a>
      <h3>About</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    <div class="block-item">
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">stars</i></a>
        <h3>Services</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    <div class="block-item">
      <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">contact_phone</i></a>
      <h3>Contact Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
  </div>

  <!-- Modal GettingStarted-->
  <div id="mdGettingStarted" class="modal">
    <div class="modal-content">
      <h5>Lets get started by setting up your dashboard !</h5>
      <div class="hline"></div>
      <div class="progress">
        <div class="circle done">
          <span class="label"><i class="small material-icons" ng-class="">business</i></span>
        </div>
        <span class="bar done"></span>
        <div class="circle active">
          <span class="label"><i class="small material-icons">palette</i></span>
        </div>
        <span class="bar"></span>
        <div class="circle done">
          <span class="label"><i class="small material-icons">attach_money</i></span>
        </div>
      </div>
      <div>
          <p>What are you looking for?</p>
      </div>
      <div class="row">
        <div class="col s12 m4 txtCentre">
          <a class="btn-floating btn-large waves-effect waves-light red" ng-click="setDashboard()"><i class="material-icons">view_quilt</i></a>
          <p>Entire Apartment</p>
        </div>
        <div class="col s12 m4 txtCentre">
          <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">border_outer</i></a>
          <p>Individual Room</p>
        </div>
        <div class="col s12 m4 txtCentre">
          <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">done_all</i></a>
          <p>Everything</p>
        </div>
      </div>
    </div>
  </div>